<%= simple_form_for(@club) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :facebook %>
    <%= f.input :description %>
    <%= f.input :logo %>
    <%= f.association :department, collection: Department.c_all_by_id.values.sort_by(&:code), :label_method => lambda { |dep| "#{dep.code} #{dep.name} (#{dep.region.name})" } %>
    <%= f.input :city %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
