<% provide(:title, I18n.t("clubs.index.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: I18n.t("clubs.index.title") do %>
  <div class="d-flex flex-column">
    <p class="text-center font-italic">
      <%= I18n.t("clubs.index.disclaimer") %>
    </p>
    <% if current_user&.can_manage_communication_matters? %>
      <div class="text-right">
        <%= link_to I18n.t("clubs.index.add_element"), new_club_path, class: "btn btn-sm btn-success" %>
      </div>
    <% end %>

    <% @clubs.each do |club| %>
      <h2 class="text-center d-block font-weight-bold">
        <%= link_to_if club.website?, club.name, club.website, target: '_blank' %>
      </h2>
      <p class="text-center d-block">
        <%= club.department.region.name + ' > ' + club.department.name + ' > ' + club.city %>
      </p>
      <% if club.logo? %>
        <p class="text-center">
          <%= image_tag(club.logo, class: "ext-resource-logo", alt: "Logo #{club.name}") %>
        </p>
      <% end %>
      <p class="text-justify"><%= club.description %></p>
      <% if club.website? %>
        <p>
          <%= I18n.t("simple_form.labels.club.website") %> : <%= link_to club.website, club.website, target: '_blank' %>
        </p>
      <% end %>
      <% if club.facebook? %>
        <p>
        <%= I18n.t("simple_form.labels.club.facebook") %> : <%= link_to club.facebook, club.facebook, target: '_blank' %>
        </p>
      <% end %>
      <% if club.email? %>
        <p>
          <%= I18n.t("simple_form.labels.club.email") %> : <%= mail_to club.email, club.email %>
        </p>
      <% end %>
      <% if current_user&.can_manage_communication_matters? %>
        <div class="text-right">
          <%= link_to(fa_icon("pencil"), edit_club_path(club), class: "btn btn-sm btn-primary") %>
          <%= link_to(fa_icon("trash"), club, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: I18n.t("clubs.index.confirm", club: club.name) }) %>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
<% end %>
