<% provide(:title, I18n.t("competitions.mine.title")) %>

<h1><%= I18n.t("competitions.mine.title") %></h1>
<div class="alert alert-info">
  <%= I18n.t("competitions.mine.intro") %>
</div>

<% if @error %>
  <div class="alert alert-danger">
    <%= I18n.t("competitions.mine.error", error: @error) %>
  </div>
<% elsif @my_competitions.any? %>
  <div class="list-group">
    <% @my_competitions.each do |comp| %>
      <a href="<%= competition_registrations_path(comp["id"]) %>" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-<%= comp["announced_at"] ? "success" : "danger" %>">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= comp["name"] %></h5>
          <small><%= flag_icon(comp["country_iso2"]) %></small>
        </div>
        <p class="mb-1">
          <%= "Du #{l(Date.parse(comp["start_date"]))} au #{l(Date.parse(comp["end_date"]))} à #{comp["city"]} (#{Country.find_by_iso2(comp["country_iso2"]).name})" %>
        </p>
        <small><%= comp["announced_at"] ? "Compétition annoncée le #{l(Time.parse(comp["announced_at"]))}" : I18n.t("competitions.mine.not_announced") %></small>
      </a>
    <% end %>
  </div>
<% else %>
  <%= I18n.t("competitions.mine.none") %>
<% end %>
