<% provide(:title, I18n.t("competitions.registrations.title", competition: @competition["name"])  ) %>

<% append_javascript_pack_tag('competitions') %>
<% if @error %>
  <div class="alert alert-danger">
    <%= I18n.t("competitions.registrations.error", error: @error) %>
  </div>
<% else %>
  <% status = { pending: I18n.t("competitions.registrations.pending"), accepted: I18n.t("competitions.registrations.accepted"), deleted: I18n.t("competitions.registrations.deleted") } %>
  <h1><%= I18n.t("competitions.registrations.title", competition: @competition["name"]) %></h1>
  <a href="#" class="activate-or-stop-check" style="display: block;">
    <%= I18n.t("competitions.registrations.check_all") %>
  </a>
  <a href="#" class="activate-or-stop-check" style="display: none;">
    <%= I18n.t("competitions.registrations.stop_check") %>
  </a>

  <% status.keys.each do |s| %>
    <h2><%= status[s] %></h2>
    <% if @persons[s].any? %>
      <%= render "shared/compact_table", headers: [I18n.t("competitions.registrations.full_name"), I18n.t("competitions.registrations.id_wca"), I18n.t("competitions.registrations.status"), ""] do %>
        <% @persons[s].each do |p| %>
          <% tr_class, membership = class_and_status_from_person(@subscribers_by_id, @subscribers_by_name, p) %>
          <tr id="registration-<%= p["registration"]["wcaRegistrationId"] %>" class="table-<%= tr_class %>">
            <td class="person-name"><%= p["name"] %></td>
            <td><%= p["wcaId"] %></td>
            <td class="membership-status"><%= membership %></td>
            <td><%= link_to fa_icon("pencil"), wca_registration_url(p["registration"]["wcaRegistrationId"]), target: "_blank" %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <%= I18n.t("competitions.registrations.none", status: status[s].downcase) %>
    <% end %>
  <% end %>
  <% puts @persons.keys %>
<% end %>
