<% provide(:title, I18n.t("users.edit.my_profile")) %>
<% is_admin = current_user.admin? %>
<h1><%= @user.name %> - <%= @user.country_name %> <%= flag_icon(@user.country_iso2) %></h1>
<% last_sub = @user.last_subscription %>
<% if last_sub&.active? %>
  <div class="alert alert-success">
    <%= I18n.t("users.edit.you_are_a_member", date: l(last_sub.until)) %>
  </div>
<% elsif last_sub %>
  <div class="alert alert-warning">
    <%= I18n.t("users.edit.you_are_no_more_a_member", date: l(last_sub.until)) %>
  </div>
<% else %>
  <div class="alert alert-danger">
    <%= I18n.t("users.edit.you_are_not_a_member") %>
  </div>
<% end %>
<div class="alert alert-warning">
  <%= I18n.t("users.edit.disclaimer") %>
  <% if last_sub&.active? %>
    <%= I18n.t("users.edit.notif_should_work") %>
  <% else %>
    <%= I18n.t("users.edit.notif_should_not_work") %>
  <% end %>
</div>
<%= simple_form_for @user, wrapper: :horizontal_form, html: { class: "mb-4 user-edit-form" } do |f| %>
  <%= f.input :friendly_delegate_status, as: :display, label: false %>

  <%= f.error_notification message: I18n.t("general.form.invalid") %>

  <%= f.input :wca_id, as: :display %>
  <%= f.input :friendly_birthdate, as: :display %>
  <%= f.input :city %>
  <%= f.input :admin, disabled: !is_admin %>
  <%= f.input :communication, disabled: !is_admin %>
  <%= f.input :french_delegate, disabled: !is_admin %>
  <%= f.input :notify_subscription %>
  <%= f.input :discussion_subscription %>
  <%= f.input :newsletter_subscription %>
  <% if current_user&.can_edit_user?(@user) %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<h2>Cotisations</h2>
<div class="alert alert-info">
  <%= I18n.t("users.edit.subscriptions_are_manually_imported") %>
  <br/>
  <%= t("users.edit.contact_html", email: mail_to("bureau@speedcubingfrance.org")) %>
</div>
<% if @user.subscriptions.empty? %>
  <div class="alert alert-warning">
    <p>
      <%= t("users.edit.no_subscription_html", helloasso: link_to("HelloAsso", "https://www.helloasso.com/associations/association-francaise-de-speedcubing", target: "_blank")) %>
    </p>
  </div>
<% else %>
  <table class="table table-bordered table-hover">
    <tbody>
      <% @user.subscriptions.reverse_each do |s| %>
        <% tr_class = s.over? ? "warning" : "success" %>
        <tr class="table-<%= tr_class %>">
          <td>
            <% if s.over? %>
              <%= I18n.t("users.edit.ended_subscription", date: l(s.payed_at.to_date)) %>
            <% else %>
              <%= I18n.t("users.edit.active_subscription", date: l(s.payed_at.to_date)) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
