<% provide(:title, t("users.import.title")) %>
<h2><%= t("users.import.title") %></h2>

<div class="alert alert-info">
  <%= t("users.import.use_search") %>
  <br/>
  <%= t("users.import.scenarios") %>
  <br/>
  <%= t("users.import.you_can_click") %>
</div>

<%= simple_form_for :import_user, url: users_import_path do |f| %>
  <%= f.input :query, label: t('simple_form.labels.import_user.query') %>
  <%= f.button :submit %>
<% end %>

<% if @matches.any? %>
  <div class="list-group mt-4">
    <% @matches.each do |user| %>
      <%= link_to users_import_path(import_user: { id: user["id"] }), method: :post, class: "list-group-item list-group-item-action" do %>
        <%= user["name"] %> <%= user["wca_id"] ? "(#{user["wca_id"]})" : "" %> <%= user["country_iso2"] ? flag_icon(user["country_iso2"]) : "" %>
      <% end %>
    <% end %>
  </div>
<% end %>
