<% provide(:title, I18n.t("users.index.title")) %>
<h1><%= I18n.t("users.index.title") %></h1>

<%= link_to I18n.t("users.index.import_user"), users_import_path, class: "btn btn-success mb-3" %>

<div class="alert bg-lightgreen">
  <%= I18n.t("users.index.info") %> 
</div>

<%= render "shared/compact_table", headers: [I18n.t("table_headers.full_name"), I18n.t("table_headers.wca_id"), I18n.t("table_headers.country"), I18n.t("table_headers.city"), I18n.t("table_headers.notifications"), I18n.t("table_headers.news"), I18n.t("table_headers.discussions"), I18n.t("table_headers.email")] do %>
  <% @users.each do |user| %>
    <tr>
      <th scope="row" class="<%="bg-lightgreen" if user.last_subscription&.active? %>">
        <%= link_to user.name, edit_user_path(user) %>
        <%= render "icons_for_user", user: user %>
      </th>
      <td>
        <%= link_to_wca_profile(user.wca_id) %>
      </td>
      <td>
        <%= flag_icon(user.country_iso2) %> <span class="pull-right"><%= user.country_name %></span>
      </td>
      <td><%= user.city %></td>
      <td class="text-center"><%= user.notify_subscription? ? fa_icon("check") : '' %><span class="d-none"><%= user.notify_subscription? %></span></td>
      <td class="text-center"><%= user.newsletter_subscription? ? fa_icon("check") : '' %><span class="d-none"><%= user.newsletter_subscription? %></span></td>
      <td class="text-center"><%= user.discussion_subscription? ? fa_icon("check") : '' %><span class="d-none"><%= user.discussion_subscription? %></span></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
<% end %>
