<% append_javascript_pack_tag("cocoon") %>
<p class="form-text text-muted">
  <%= t("nested_form.do_not_find") %>
  <%= t("nested_form.go_here_html", here: link_to(t("nested_form.here"), users_import_path, target: "_blank")) %>
</p>
<div class="owners">
  <%= f.simple_fields_for :owners do |f2| %>
    <%= render "shared/hardware_owner_fields", f: f2 %>
  <% end %>
</div>
<%= link_to_add_association(
  button_tag(raw("#{fa_icon("plus")} #{I18n.t("nested_form.add_possession")}"), type: "button", class: "btn btn-success mb-3"),
  f,
  :owners,
  data: {
    association_insertion_node: '.owners',
    association_insertion_method: 'append'
  },
  partial: "shared/hardware_owner_fields"
) %>
