<p>
  <strong><%= I18n.t("show_owners.at") %></strong>
  <% owners = [] %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= I18n.t("show_owners.person") %></th>
        <th><%= I18n.t("show_owners.from") %></th>
        <th><%= I18n.t("show_owners.to") %></th>
      </tr>
    </thead>
    <tbody>
      <% item.owners.each do |owner| %>
        <tr>
          <td>
            <%= owner.user.name %>
          </td>
          <td>
            <%= l(owner.start) %>
          </td>
          <td>
            <%= l(owner.end) %>
          </td>
      <% end %>
    </tbody>
  </table>
</p>
