<% provide(:title, "Infos sur le sac " + @bag.name) %>
<%= render "layouts/page_wrapper", title: @bag.name do %>
  <p>
    <strong>Nom :</strong>
    <%= @bag.name %>
  </p>
  <% if @bag.hardwares.any? %>
    <table id="hardware-index-table" class="table table-striped">
      <thead>
        <tr>
          <th>Nom du matériel</th>
          <th>Type</th>
          <th>État</th>
          <th>Commentaire</th>
        </tr>
      </thead>

      <tbody>
        <% @bag.hardwares.each do |h| %>
          <tr>
            <td><%= link_to h.name, h %></td>
            <td><%= h.hardware_type_string %></td>
            <td class="state-<%= h.state %>">
              <div title="<%= h.state_string %>" data-toggle="tooltip">
                <%= fa_icon('circle') %>
                <span class="d-none"><%= h.state_string %></span>
              </div>
            </td>
            <td><%= h.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render "shared/show_owners_list", item: @bag %>

  <%= link_to 'Éditer', edit_bag_path(@bag) %> |
  <%= link_to 'Retour', bags_path %>
<% end %>
