<% provide(:title, I18n.t("bags.show.title", bag_name: @bag.name)) %>
<%= render "layouts/page_wrapper", title: @bag.name do %>
  <p>
    <strong><%= I18n.t("bags.show.name") %></strong>
    <%= @bag.name %>
  </p>
  <% if @bag.hardwares.any? %>
    <table id="hardware-index-table" class="table table-striped">
      <thead>
        <tr>
          <th><%= I18n.t("bags.show.hardware_name") %></th>
          <th><%= I18n.t("hardware.index.type") %></th>
          <th><%= I18n.t("hardware.index.state") %></th>
          <th><%= I18n.t("hardware.index.comment") %></th>
        </tr>
      </thead>

      <tbody>
        <% @bag.hardwares.each do |h| %>
          <tr>
            <td><%= link_to h.name, h %></td>
            <td><%= h.hardware_type_string %></td>
            <td class="state-<%= h.state %>">
              <div title="<%= h.state_string %>" data-toggle="tooltip">
                <%= fa_icon('circle') %>
                <span class="d-none"><%= h.state_string %></span>
              </div>
            </td>
            <td><%= h.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render "shared/show_owners_list", item: @bag %>

  <%= link_to I18n.t("button.edit"), edit_bag_path(@bag) %> |
  <%= link_to I18n.t("button.cancel"), bags_path %>
<% end %>
