<% provide(:title, I18n.t("association.introduction.title")) %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: I18n.t("association.introduction.title") do %>
  <h3 id="présentation"><%= I18n.t("association.introduction.introduction") %></h3>

  <p><%= t("association.introduction.p1_html", link_speedcubing: link_to(t("association.introduction.speedcubing"), page_path("speedcubing"))) %></p>
  <p>
    <%= t("association.introduction.p2_html", 
      link_competitions: link_to(t("association.introduction.official_comps"), page_path("competitions")), 
      link_animations: link_to(t("association.introduction.diff_events"), page_path("association/animations"))) %>
  </p>
  <p><%= t("association.introduction.p3_html", link_page: link_to(t("association.introduction.page"), "https://www.helloasso.com/associations/association-francaise-de-speedcubing")) %></p>
  <p><%= I18n.t("association.introduction.p4") %></p>

  <h3 id="bureau"><%= I18n.t("association.introduction.board.title") %></h3>

  <p><%= t("association.introduction.board.desc_html", link: link_to(t("association.introduction.board.name"), page_path("association/historique-bureau"))) %></p>
  <ul>
    <li><%= I18n.t("association.introduction.board.president") %></li>
    <li><%= I18n.t("association.introduction.board.treasurer") %></li>
    <li><%= I18n.t("association.introduction.board.secretary") %></li>
  </ul>

  <h3 id="equipes"><%= I18n.t("association.introduction.teams.title") %></h3>
  <p><%= I18n.t("association.introduction.teams.desc") %></p>
  <ul>
    <li><%= I18n.t("association.introduction.teams.website") %></li>
    <li><%= I18n.t("association.introduction.teams.contact") %></li>
    <li><%= I18n.t("association.introduction.teams.social_medias") %></li>
    <li><%= I18n.t("association.introduction.teams.communication") %></li>
    <li><%= I18n.t("association.introduction.teams.streaming") %></li>
  </ul>
<% end %>
