<% provide(:title, I18n.t("association.introduction.title")) %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: I18n.t("association.introduction.title") do %>
  <h3 id="présentation"><%= I18n.t("association.introduction.introduction") %></h3>

  <p><%= I18n.t("association.introduction.p1") %></p>

  <h3 id="bureau"><%= I18n.t("association.introduction.board.title") %></h3>

  <p><%= t("association.introduction.board.desc_html", link: link_to(I18n.t("association.introduction.board.name"), page_path("association/historique-bureau"))) %></p>
  <ul>
    <li><%= I18n.t("association.introduction.board.president") %></li>
    <li><%= I18n.t("association.introduction.board.treasurer") %></li>
    <li><%= I18n.t("association.introduction.board.secretary") %></li>
  </ul>

  <h3 id="equipes"><%= I18n.t("association.introduction.teams.title") %></h3>
  <p><%= I18n.t("association.introduction.teams.desc") %></p>
  <ul>
    <li><%= I18n.t("association.introduction.teams.website") %></li>
    <li><%= I18n.t("association.introduction.teams.communication") %></li>
    <li><%= I18n.t("association.introduction.teams.streaming") %></li>
  </ul>
<% end %>
