<% provide(:title, I18n.t("contact.title")) %>
<% provide(:active_section, "contact") %>

<%= render "layouts/page_wrapper", title: I18n.t("contact.title") do %>

  <p><%= I18n.t("contact.competition_questions") %></p>

  <p><%= t("contact.afs_questions_html", email: mail_to("contact@speedcubingfrance.org")) %></p>

  <p><%= t("contact.website_questions_html", github: link_to(I18n.t("contact.github"), "https://github.com/speedcubingfrance/speedcubingfrance.org/issues"), email: mail_to("admin@speedcubingfrance.org")) %></p>

  <p><%= t("contact.streaming_questions_html", email: mail_to("streaming@speedcubingfrance.org")) %></p>
<% end %>
