<% provide(:title, I18n.t("speedcubing.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title: I18n.t("speedcubing.title") do %>

  <p><%= I18n.t("speedcubing.p1") %></p>
  <p><%= I18n.t("speedcubing.p2") %></p>
  <p>
    <%= t("speedcubing.p3_html",
      link_wca: link_to(t("speedcubing.wca"), "https://www.worldcubeassociation.org/", {target: '_blank'}),
      link_comp: link_to(t("speedcubing.diverse_comp"), "https://www.worldcubeassociation.org/competitions", {target: '_blank'})) %>
  </p>
  <p><%= I18n.t("speedcubing.p4") %></p>
  <p><%= I18n.t("speedcubing.p5") %></p>

  <ul>
    <li>
      <b><%= I18n.t("speedcubing.event1_header") %></b>
      <%= I18n.t("events.222") %>,
      <%= I18n.t("events.333") %>,
      <%= I18n.t("events.444") %>,
      <%= I18n.t("events.555") %>,
      <%= I18n.t("events.666") %>,
      <%= I18n.t("events.777") %>
    </li>
    <li>
      <b><%= I18n.t("speedcubing.event2_header") %></b>
      <%= I18n.t("events.333oh") %>,
      <%= I18n.t("events.333fm") %>
    </li>
    <li>
      <b><%= I18n.t("speedcubing.event3_header") %></b>
      <%= I18n.t("events.333bf") %>,
      <%= I18n.t("events.444bf") %>,
      <%= I18n.t("events.555bf") %>,
      <%= I18n.t("events.333mbf") %>
    </li>
    <li>
      <b><%= I18n.t("speedcubing.event4_header") %></b>
      <%= I18n.t("events.clock") %>,
      <%= I18n.t("events.minx") %>,
      <%= I18n.t("events.pyram") %>,
      <%= I18n.t("events.skewb") %>,
      <%= I18n.t("events.sq1") %>
    </li>
  </ul>

  <p>
    <%= t("speedcubing.p6_html",
      link_records_fr: link_to(t("speedcubing.fr_records"), "https://www.worldcubeassociation.org/results/records?region=France&show=mixed", {target: '_blank'}),
      link_records_world: link_to(t("speedcubing.world_records"), "https://www.worldcubeassociation.org/results/records?show=mixed", {target: '_blank'})) %>
  </p>

<% end %>
