<% provide(:title, I18n.t("tutos.judges.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :juges, title: I18n.t("tutos.judges.title") do %>

  <p><%= I18n.t("tutos.judges.p0") %></p>

  <h3 id="1-Être-familier-avec-le-règlement-wca"><%= I18n.t("tutos.judges.p1_title") %></h3>
  <p>
    <%= t("tutos.judges.p1_html",
      link_wca: link_to(t("speedcubing.wca"), "https://www.worldcubeassociation.org/", {target: '_blank'}),
      link_regulations: link_to(t("regulations.regulations"), page_path("speedcubing/reglement"))) %>
  </p>

  <h3 id="2-vous-pouvez-être-juge-et-compétiteur-lors-de-la-même-compétition"><%= I18n.t("tutos.judges.p2_title") %></h3>
  <p><%= I18n.t("tutos.judges.p2") %></p>

  <h3 id="3-demandez-au-juge-principal-ce-que-vous-devez-faire"><%= I18n.t("tutos.judges.p3_title") %></h3>
  <p><%= I18n.t("tutos.judges.p3") %></p>

  <h3 id="4-ne-dérangez-pas-les-participants"><%= I18n.t("tutos.judges.p4_title") %></h3>
  <p><%= I18n.t("tutos.judges.p4") %></p>

  <h3 id="5-annoncez-le-nom-du-compétiteur-ou-de-la-compétitrice"><%= I18n.t("tutos.judges.p5_title") %></h3>
  <p><%= I18n.t("tutos.judges.p5") %></p>

  <h3 id="6-faites-attention-à-conserver-le-cube-caché"><%= I18n.t("tutos.judges.p6_title") %></h3>
  <p><%= I18n.t("tutos.judges.p6") %></p>

  <h3 id="7-assurez-vous-que-vous-et-le-compétiteur-êtes-prêts"><%= I18n.t("tutos.judges.p7_title") %></h3>
  <p><%= I18n.t("tutos.judges.p7") %></p>
  <ul>
    <li><%= I18n.t("tutos.judges.cover") %></li>
    <li><%= I18n.t("tutos.judges.timer") %></li>
    <li><%= I18n.t("tutos.judges.handtimer") %></li>
    <li><%= I18n.t("tutos.judges.competitor") %></li>
  </ul>

  <h3 id="8-demandez-au-compétiteur--prêt-ready"><%= I18n.t("tutos.judges.p8_title") %></h3>
  <p><%= I18n.t("tutos.judges.p8") %></p>

  <h3 id="9-dites-8-secondes"><%= I18n.t("tutos.judges.p9_title") %></h3>
  <p><%= I18n.t("tutos.judges.p9") %></p>

  <h3 id="10-dites-go"><%= I18n.t("tutos.judges.p10_title") %></h3>
  <p><%= I18n.t("tutos.judges.p10") %></p>

  <h3 id="11-arrêtez-votre-chronomètre-à-main-lorsque-le-compétiteur-lance-le-sien"><%= I18n.t("tutos.judges.p11_title") %></h3>
  <p><%= I18n.t("tutos.judges.p11") %></p>
  <ul>
    <li><%= I18n.t("tutos.judges.sub15") %></li>
    <li><%= I18n.t("tutos.judges.sup15") %></li>
    <li><%= I18n.t("tutos.judges.sup17") %></li>
  </ul>

  <h3 id="12-pendant-la-résolution"><%= I18n.t("tutos.judges.p12_title") %></h3>
  <p><%= I18n.t("tutos.judges.p12_1") %></p>
  <p><%= I18n.t("tutos.judges.p12_2") %></p>

  <h3 id="13-fin-de-la-résolution"><%= I18n.t("tutos.judges.p13_title") %></h3>
  <p><%= I18n.t("tutos.judges.p13_1") %></p>
  <p><%= t("tutos.judges.p13_2_html", link_regulation: link_to(t("tutos.judges.regulation"), "https://www.worldcubeassociation.org/regulations/#article-10-solved-state")) %></p>

  <h3 id="14-enregistrement-du-temps"><%= I18n.t("tutos.judges.p14_title") %></h3>
  <p><%= I18n.t("tutos.judges.p14") %></p>

  <h3 id="15-en-cas-de-doute-demandez-au-juge-principal-ou-au-délégué-wca"><%= I18n.t("tutos.judges.p15_title") %></h3>
  <p><%= I18n.t("tutos.judges.p15") %></p>
<% end %>
