<% provide(:title, I18n.t("tutos.solve.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :resolution, title: I18n.t("tutos.solve.title") do %>


  <p><%= t("tutos.solve.p0_html", link_regulation: link_to(t("tutos.solve.regulation"), "https://www.worldcubeassociation.org/regulations/#article-A-speedsolving")) %></p>

  <h3 id="1-assis-ou-debout-"><%= I18n.t("tutos.solve.p1_title") %></h3>
  <p><%= I18n.t("tutos.solve.p1") %></p>

  <h3 id="2-inspection"><%= I18n.t("tutos.solve.p2_title") %></h3>
  <p><%= I18n.t("tutos.solve.p2_1") %></p>
  <p><%= I18n.t("tutos.solve.p2_2") %></p>
  <p><%= I18n.t("tutos.solve.p2_3") %></p>
  <p><i><%= I18n.t("tutos.solve.p2_4") %></i></p>

  <h3 id="3-démarrage-du-chronomètre"><%= I18n.t("tutos.solve.p3_title") %></h3>
  <p><%= I18n.t("tutos.solve.p3_1") %></p>
  <p><%= I18n.t("tutos.solve.p3_2") %></p>
  <p><%= I18n.t("tutos.solve.p3_3") %></p>
  <p><%= I18n.t("tutos.solve.p3_4") %></p>

  <h3 id="4-résolution-du-puzzle"><%= I18n.t("tutos.solve.p4_title") %></h3>
  <p><%= I18n.t("tutos.solve.p4_1") %></p>
  <p><%= I18n.t("tutos.solve.p4_2") %></p>
  <p><%= I18n.t("tutos.solve.p4_3") %></p>

  <h3 id="5-arrêt-du-chronomètre"><%= I18n.t("tutos.solve.p5_title") %></h3>
  <p><%= I18n.t("tutos.solve.p5_1") %></p>
  <p><%= I18n.t("tutos.solve.p5_2") %></p>

  <h3 id="6-fin-de-la-résolution"><%= I18n.t("tutos.solve.p6_title") %></h3>
  <p><%= I18n.t("tutos.solve.p6") %></p>

<% end %>
