<% provide(:title, I18n.t("tutos.competitors.title")) %>
<% provide(:active_section, "speedcubing") %>
<%= render "shared/nav_tutos", current_page: :competiteurs, title: I18n.t("tutos.competitors.title") do %>
  <p><%= I18n.t("tutos.competitors.p0") %></p>

  <h3 id="1-Être-familier-avec-le-règlement-wca"><%= I18n.t("tutos.competitors.p1_title") %></h3>
  <p>
    <%= t("tutos.competitors.p1_html", 
      link_wca: link_to(t("speedcubing.wca"), "https://www.worldcubeassociation.org/", {target: '_blank'}), 
      link_regulations: link_to(t("regulations.regulations"), page_path("speedcubing/reglement"))) %>
  </p>

  <h3 id="2-pré-inscription"><%= I18n.t("tutos.competitors.p2_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p2_1") %></p>
  <p><%= I18n.t("tutos.competitors.p2_2") %></p>

  <h3 id="3-se-préparer"><%= I18n.t("tutos.competitors.p3_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p3") %></p>

  <h3 id="4-assurez-vous-que-vos-cubes-soient-prêts"><%= I18n.t("tutos.competitors.p4_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p4") %></p>

  <h3 id="5-planifiez-votre-journée"><%= I18n.t("tutos.competitors.p5_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p5") %></p>

  <h3 id="6-inscription-sur-place"><%= I18n.t("tutos.competitors.p6_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p6") %></p>

  <h3 id="7-lors-de-votre-arrivee"><%= I18n.t("tutos.competitors.p7_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p7") %></p>

  <h3 id="8-attendez-que-votre-nom-soit-appelé"><%= I18n.t("tutos.competitors.p8_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p8") %></p>

  <h3 id="9-lorsque-votre-nom-est-appelé-apportez-votre-cube-aux-mélangeurs"><%= I18n.t("tutos.competitors.p9_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p9") %></p>

  <h3 id="10-quand-votre-nom-est-appelé-allez-à-la-table-indiquée"><%= I18n.t("tutos.competitors.p10_title") %></h3>
  <p><%= t("tutos.competitors.p10_html", link_solve: link_to(t("tutos.competitors.solve"), page_path("tuto-resolution"))) %></p>

  <h3 id="11-une-fois-terminé-retournez-vous-asseoir-dans-la-zone-dattente"><%= I18n.t("tutos.competitors.p11_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p11") %></p>

  <h3 id="12-À-la-fin-de-vos-essais-retournez-dans-le-public"><%= I18n.t("tutos.competitors.p12_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p12") %></p>

  <h3 id="13-amusez-vous-"><%= I18n.t("tutos.competitors.p13_title") %></h3>
  <p><%= I18n.t("tutos.competitors.p13") %></p>
<% end %>
