<% provide(:title, I18n.t("subscriptions.members")) %>
<%= render "nav", current_page: :subscribers %>

<p>
  <%= I18n.t("subscriptions.members_nb", nb: @subscribers.size, date: l(Date.today)) %>
</p>
<div class="table-responsive">
  <% headers = [I18n.t("table_headers.full_name"), I18n.t("table_headers.wca_id"), I18n.t("table_headers.city"), I18n.t("table_headers.end_of_subscription")] %>
  <%= render "shared/compact_table", headers: headers do %>
    <% @subscribers.each do |s| %>
      <tr>
        <td>
          <%=
            if s.user
              link_to(s.user.name, edit_user_path(s.user))
            else
              "#{s.firstname} #{s.name}"
            end
          %>
        </td>
        <td>
          <%= link_to_wca_profile(s.wca_id) %>
        </td>
        <td>
          <%= s.user&.city %>
        </td>
        <td data-text="<%= s.until %>"><%= l(s.until) %></td>
      </tr>
    <% end %>
  <% end %>
  <% if @subscribers.empty? %>
    <div class="alert alert-info">
      <%= I18n.t("subscriptions.none") %>
    </div>
  <% end %>
</div>
