<% provide(:title, I18n.t("subscriptions.review_title")) %>
<%= render "nav", current_page: :subscriptions %>

<h1><%= I18n.t("subscriptions.review_title") %></h1>

<p><%= I18n.t("subscriptions.detected_contributions") %></p>

<div class="table-responsive">
  <% headers = [I18n.t("table_headers.firstname"), I18n.t("table_headers.name"), I18n.t("table_headers.wca_id"), I18n.t("table_headers.email"), I18n.t("table_headers.paid_at"), I18n.t("table_headers.receipt_url"), I18n.t("table_headers.order_number")] %>
  <% if @new_subscriptions.any? %>
    <%= simple_form_for :subscriptions, url: subscriptions_import_path do |f| %>
      <%= render "shared/compact_table", headers: headers  do %>
        <% @new_subscriptions.each_with_index do |subscription, i| %>
          <%= f.simple_fields_for subscription do |fa| %>
            <%# Specifying the name for each subscription is dirty but I couldn't find better %>
            <tr>
              <td><%= fa.input :firstname, as: :display, label: false, input_html: { name: "subscriptions[][firstname]" } %></td>
              <td><%= fa.input :name, as: :display, label: false, input_html: { name: "subscriptions[][name]" } %></td>
              <td><%= fa.input :wca_id, as: :display, label: false, input_html: { name: "subscriptions[][wca_id]" } %></td>
              <td data-toggle="tooltip" data-placement="top" title="<%= subscription.email %>"><%= fa.input :email, as: :display, label: false, input_html: { name: "subscriptions[][email]" } %></td>
              <td><%= fa.input :payed_at, as: :display, label: false, input_html: { name: "subscriptions[][payed_at]" } %></td>
              <td data-toggle="tooltip" data-placement="top" title="<%= subscription.receipt_url %>"><%= fa.input :receipt_url, as: :display, label: false, input_html: { name: "subscriptions[][receipt_url]" } %></td>
              <td data-toggle="tooltip" data-placement="top" title="<%= subscription.order_number %>"><%= fa.input :order_number, as: :display, label: false, input_html: { name: "subscriptions[][order_number]" } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>

      <%= f.submit I18n.t("subscriptions.import_contributions"), class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <div class="alert alert-info">
      <%= I18n.t("subscriptions.nothing_to_import") %>
    </div>
  <% end %>

  <% if @subscriptions.any? %>
    <p><%= I18n.t("subscriptions.already_in_db") %></p>
    <%= render "shared/compact_table", headers: [I18n.t("table_headers.firstname"), I18n.t("table_headers.name"), I18n.t("table_headers.wca_id"), I18n.t("table_headers.email"), I18n.t("table_headers.paid_at"), "", ""] do %>
      <% @subscriptions.each do |subscription| %>
        <tr class="table-info">
          <td><%= subscription.firstname %></td>
          <td><%= subscription.name %></td>
          <td><%= subscription.wca_id %></td>
          <td><%= subscription.email %></td>
          <td><%= subscription.payed_at %></td>
          <td><%= subscription.receipt_url %></td>
          <td><%= subscription.order_number %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</div>
<script>
$(".custom-file-input").change(function (e) {
  $(".custom-file-label").text(e.target.value.replace("C:\\fakepath\\", ""));
});
</script>
