<% provide(:title, @online_competition.name) %>
<% provide(:active_section, "speedcubing") %>
<h1 class="w-100 text-center">
  <%= yield(:title) %>
  <% if current_user&.can_manage_online_comps? %>
    <%= link_to(fa_icon("pencil"),
                edit_online_competition_path(@online_competition),
                class: "btn btn-sm btn-primary") %>
  <% end %>
</h1>

<% unless @online_competition.visible %>
  <div class="alert alert-warning">
    <%= I18n.t("online_competitions.show.comp_not_public") %>
  </div>
<% end %>

<div class="row mb-2">
  <div class="col-xs-12 col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= started_text(@online_competition) %></h4>
        <h6 class="card-subtitle"><%= l(@online_competition.start_date) %></h6>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= over_text(@online_competition) %></h4>
        <h6 class="card-subtitle"><%= l(@online_competition.end_date) %></h6>
      </div>
    </div>
  </div>
</div>

<% if @online_competition.started? %>
  <%= link_to scrambles_pdf_url(@online_competition), class: "btn btn-success mb-2 w-100" do %>
    <%= fa_icon("download") %> <%= I18n.t("online_competitions.show.download_scrambles") %>
  <% end %>
  <% add_to_packs("online_competition_results") %>
<% end %>


<% if @online_competition.over? %>
  <div class="alert alert-info mb-3">
    <%= I18n.t("online_competitions.show.comp_over", n: @online_competition.unique_competitors.size) %>
  </div>
<% end %>
<% if @online_competition.over? || @force_show_results %>
  <script>
  $(function() {
    afs.initShowResult("<%= @online_competition.id %>");
  });
  </script>
<% elsif @online_competition.ongoing? %>
  <div class="alert alert-info mb-3">
    <%= I18n.t("online_competitions.show.comp_ongoing") %>
    <br/>
    <% if current_user&.can_manage_online_comps? %>
      <%= I18n.t("online_competitions.show.you_have_rights_for_ongoing_results") %>
      <%= link_to("ici", admin_results_path(@online_competition)) %>.
    <% end %>
  </div>
  <script>
  $(function() {
    afs.initSubmitResult("<%= @online_competition.id %>");
  });
  </script>
<% elsif !@online_competition.started? %>
  <div class="alert alert-info mb-3">
    <%= I18n.t("online_competitions.show.comp_not_started") %>
  </div>
<% end %>

<div class="row">
  <div id="competition-results-area" class="col"></div>
</div>
