<% provide(:title, I18n.t("association.board_history.title")) %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: I18n.t("association.board_history.title"), card_classes: "remove-padding" do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= I18n.t("association.board_history.period") %></th>
        <th><%= I18n.t("association.board_history.president") %></th>
        <th><%= I18n.t("association.board_history.treasurer") %></th>
        <th><%= I18n.t("association.board_history.secretary") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2010 - 2014</td>
        <td>Clément Gallet</td>
        <td>Guillaume Erbibou</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2014 - 2016</td>
        <td>Philippe Virouleau</td>
        <td>Hippolyte Moreau</td>
        <td>Gaël Dusser</td>
      </tr>
      <tr>
        <td>2016 - 2017</td>
        <td>Philippe Virouleau</td>
        <td>Émilien Fabre</td>
        <td>Lina Tissier</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Lina Tissier</td>
        <td>Émilien Fabre</td>
        <td>Jules Desjardin</td>
      </tr>
      <tr>
        <td>2019 - 2021</td>
        <td>Lina Tissier</td>
        <td>Jules Desjardin</td>
        <td>Antoine Piau</td>
      </tr>
	  <tr>
        <td>2019 - <%= I18n.t("association.board_history.ongoing") %></td>
        <td>Pauline Bonnaudet</td>
        <td>Hippolyte Moreau</td>
        <td>Maxime Lefebvre</td>
      </tr>
    </tbody>
  </table>
<% end %>
