<% provide(:title, I18n.t("association.logos.title")) %>
<% provide(:active_section, "association") %>
<%= render "layouts/page_wrapper", title: I18n.t("association.logos.title") do %>
  <p><%= I18n.t("association.logos.p1") %></p>

  <p><%= t("association.logos.p2_html", board_mail_link: mail_to("bureau@speedcubingfrance.org", "bureau@speedcubingfrance.org")) %></p>

  <p>
    <%= I18n.t("association.logos.p3_before_ul") %>
    <ul>
      <li><a href="/uploads/logos/logoafs.png"><%= I18n.t("association.logos.png") %></a></li>
      <li><a href="/uploads/logos/logoafs.svg"><%= I18n.t("association.logos.svg") %></a></li>
      <li><a href="/uploads/logos/logoafs.eps"><%= I18n.t("association.logos.eps") %></a></li>
      <li><a href="/uploads/logos/logoafsletters.png"><%= I18n.t("association.logos.png_with_text") %></a></li>
      <li><a href="/uploads/logos/logoafsletters.svg"><%= I18n.t("association.logos.svg_with_text") %></a></li>
      <li><a href="/uploads/logos/logoafsletters.eps"><%= I18n.t("association.logos.eps_with_text") %></a></li>
    </ul>
    <%= I18n.t("association.logos.p3_after_ul") %>
  </p>

  <p><%= t("association.logos.history_html", this_page: link_to(I18n.t("association.logos.this_page"), page_path("association/historique-logo"))) %></p>
<% end %>
