<% provide(:title, "Ressources externes") %>
<% provide(:active_section, "speedcubing") %>
<%= render "layouts/page_wrapper", title:"Ressources externes" do %>
  <div class="d-flex flex-column">
    <% if current_user&.can_manage_communication_matters? %>
      <div class="text-right">
        <%= link_to 'Ajouter un élément', new_external_resource_path, class: "btn btn-sm btn-success" %>
      </div>
    <% end %>

    <% @external_resources.each do |external_resource| %>
      <h4 class="text-center d-block">
        <%= link_to external_resource.name, external_resource.link, target: '_blank' %>
      </h4>
      <p class="text-center">
      <%= link_to(external_resource.link, target: "_blank") do %>
        <%= image_tag(external_resource.img, class: "ext-resource-logo", alt: "Logo #{external_resource.name}") %>
      <% end %>
      </p>
      <p class="text-justify"><%= external_resource.description %></p>
      <p>
        Lien : <%= link_to external_resource.name, external_resource.link, target: '_blank' %></a>
      </p>
      <% if current_user&.can_manage_communication_matters? %>
        <div class="text-right">
          <%= link_to(fa_icon("pencil"), edit_external_resource_path(external_resource), class: "btn btn-sm btn-primary") %>
          <%= link_to(fa_icon("trash"), external_resource, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Êtes-vous sûr·e de vouloir supprimer #{external_resource.name} ?" }) %>
        </div>
      <% end %>
      <hr>
    <% end %>
  </div>
<% end %>
