<%
  default_active = case params[:controller]
                   when "users", "subscriptions"
                     "association"
                   when "competitions"
                     "speedcubing"
                   else
                     "home"
                   end
  section = yield(:active_section)
  if section.blank?
    section = default_active
  end
%>
<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to(image_pack_tag("static/Logo_AFS_Seul.svg", class: "brand-logo"), root_path) %>
        <div class="brand-header">
          <div class="brand-name">
            <%= link_to root_path do %>
              <span class="blue d-none d-md-block">
                <%= I18n.t("nav.title") %>
              </span>
              <span class="blue d-md-none">AFS</span>
            <% end %>
          </div>
          <div class="brand-social">
            <a href="https://www.facebook.com/AFspeedcubing/" target="_blank" title="<%= I18n.t('social_medias.facebook') %>">
              <i class="fa fa-facebook-official"></i>
            </a>
            <a href="https://www.twitch.tv/afspeedcubing" target="_blank" title="<%= I18n.t('social_medias.twitch') %>">
              <i class="fa fa-twitch"></i>
            </a>
            <a href="https://github.com/speedcubingfrance/speedcubingfrance.org" target="_blank" title="<%= I18n.t('social_medias.github') %>">
              <i class="fa fa-github"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCMF--vJOazE3p26jcRnFHkg" target="_blank" title="<%= I18n.t('social_medias.youtube') %>">
              <i class="fa fa-youtube"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCycidVUvhFBlq_s47LjTFOQ" target="_blank" title="<%= I18n.t('social_medias.youtube_reup') %>">
              <i class="fa fa-youtube"></i>
            </a>
            <a href="https://discord.gg/EM92xEGDSf" target="_blank" title="<%= I18n.t('social_medias.discord') %>">
              <i class="fa fa-discord"></i>
            </a>
            <a href="https://www.instagram.com/afspeedcubing/" target="_blank" title="<%= I18n.t('social_medias.instagram') %>">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-afs" aria-controls="navbar-afs" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-container w-100">
        <div id="navbar-afs" class="collapse navbar-collapse justify-content-sm-center rounded">
          <ul class="navbar-nav">
            <li class="nav-item">
              <% active = section == "home" ? "active" : nil %>
              <%= link_to root_url, class: "nav-link nav-home #{active}" do %>
                <i class="fa fa-home"></i>
                <span class="d-sm-none d-lg-inline"><%= I18n.t("nav.home") %></span>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <% active = section == "association" ? "active" : nil %>
              <a class="nav-link nav-association dropdown-toggle <%= active %>" id="dropdown-association" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="fa fa-info-circle"></i>
                <span class="d-sm-none d-lg-inline">
                  <%= I18n.t("nav.asso.tab_title") %>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown-association">
                <%= link_to I18n.t("nav.asso.presentation"), page_path("association"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.asso.subscriptions"), page_path("association/adhesion"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.asso.documents"), page_path("association/documents"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.asso.logo"), page_path("association/logo"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.asso.animations"), page_path("association/animations"), class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <% active = section == "speedcubing" ? "active" : nil %>
              <a class="nav-link nav-speedcubing dropdown-toggle <%= active %>" href="#" id="dropdown-speedcubing" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cubes"></i>
                <span class="d-sm-none d-lg-inline">
                  <%= I18n.t("nav.speedcubing.tab_title") %>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown-speedcubing">
                <%= link_to I18n.t("nav.speedcubing.intro"), page_path("speedcubing"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.speedcubing.comp_wca"), page_path("competitions"), class: "dropdown-item" %>
                <%= link_to(I18n.t("nav.speedcubing.online_comp"), online_competitions_path, class: "dropdown-item") %>
                <%= link_to I18n.t("nav.speedcubing.regulations"), page_path("speedcubing/reglement"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.speedcubing.tutos"), page_path("speedcubing/tutos"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.speedcubing.local_clubs"), page_path("clubs"), class: "dropdown-item" %>
                <%= link_to I18n.t("nav.speedcubing.extern_resources"), page_path("ressources"), class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item">
              <% active = section == "contact" ? "active" : nil %>
              <%= link_to page_path("contact"), class: "nav-link nav-contact #{active}" do %>
                <i class="fa fa-envelope"></i>
                <span class="d-sm-none d-lg-inline"><%= I18n.t("nav.contact") %></span>
              <% end %>
            </li>
            <% if current_user %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link no-border dropdown-toggle nav-user" data-toggle="dropdown" data-hover="dropdown">
                  <div class="avatar-thumbnail "
                       style="background-image: url(<%= current_user.avatar_thumb_url %>);"
                       ></div>
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" role="menu">
                  <h6 role="presentation" class="dropdown-header">
                    <%= current_user.name %>
                  </h6>
                  <%= link_to I18n.t("nav.user.my_profile"), profile_path, class: "dropdown-item" %>
                  <% if has_manage_competitions_scope %>
                    <%= link_to I18n.t("nav.user.my_comps"), my_competitions_path, class: "dropdown-item" %>
                  <% end %>
                  <% if current_user.admin? || current_user.comm? %>
                    <div class="dropdown-divider"></div>
                    <h6 role="presentation" class="dropdown-header">
                      Administration
                    </h6>
                    <% if current_user.can_manage_communication_matters? %>
                      <%= link_to I18n.t("nav.admin.subscriptions"), subscriptions_path, class: "dropdown-item" %>
                    <% end %>
                    <% if current_user.can_manage_vote_matters? %>
                      <%= link_to I18n.t("nav.admin.votes"), votes_path, class: "dropdown-item" %>
                    <% end %>
                    <% if current_user.admin? %>
                      <%= link_to I18n.t("nav.admin.users"), users_path, class: "dropdown-item" %>
                    <% end %>
                    <%= link_to I18n.t("nav.admin.posts"), news_index_path, class: "dropdown-item" %>
                    <%= link_to I18n.t("nav.admin.competitions"), upcoming_champs_path, class: "dropdown-item" %>
                  <% end %>
                  <% if current_user.admin? || current_user.french_delegate? %>
                    <div class="dropdown-divider"></div>
                    <h6 role="presentation" class="dropdown-header">
                      Délégués
                    </h6>
                    <%= link_to I18n.t("nav.delegate.hardware"), hardwares_path, class: "dropdown-item" %>
                  <% end %>

                  <div class="dropdown-divider"></div>
                  <%= link_to I18n.t("nav.sign.sign_out"), signout_path, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to signin_path, class: "signin-elem nav-link nav-signin" do %>
                  <span class="d-sm-none d-md-inline">
                    <%= I18n.t("nav.sign.sign_in") %>
                  </span>
                  <span class="d-none d-sm-inline d-md-none"><i class="fa fa-sign-in"></i></span>
                <% end %>
              </li>
            <% end %>
            <li class="nav-item dropdown ml-2">
              <a class="nav-link dropdown-toggle nav-i18n no-border" href="#" id="dropdown-i18n" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon("language") %>
              </a>
              <div id="locale-selector" class="dropdown-menu" aria-labelledby="dropdown-i18n">
                <% Locales::AVAILABLE.each do |l, data| %>
                  <%= link_to(update_locale_path(l),
                              class: "dropdown-item") do %>
                    <%= fa_icon("caret-right") if l == I18n.locale %>
                    <%= data[:name] %>
                  <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
