<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%# Webpacker %>
    <%# Followed this to get rid of sprockets: https://medium.com/@coorasse/goodbye-sprockets-welcome-webpacker-3-0-ff877fb8fa79 %>
    <script>
      window.afs = window.afs || {};
      window.afs.currentLocale = "<%= I18n.locale %>";
    </script>
    <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
    <% add_to_packs('application') %>
    <%= javascript_pack_tag *@all_packs.split(",").uniq, 'data-turbolinks-track': 'reload', defer: false %>
    <%# I unfortunately couldn't find another way to get tablesorter working... %>
    <script src="/vendor/jquery.tablesorter.combined.min.js" data-turbolinks-track="reload"></script>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Philippe Virouleau">
  </head>
  <body>
    <%= render 'layouts/navigation' %>

    <div id="main-container">
      <%= render 'layouts/flash' %>

      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    <script>
// Setup link for locale switch
$(function() {
  $('#locale-selector').on('click', 'a', function(e) {
    e.preventDefault();
    e.stopPropagation();

    // More or less copied from
    // https://github.com/rails/jquery-ujs/blob/9e805c90c8cfc57b39967052e1e9013ccb318cf8/src/rails.js#L215.
    var csrfToken = $('meta[name=csrf-token]').attr('content');
    var csrfParam = $('meta[name=csrf-param]').attr('content');
    var form = $('<form method="post" action="' + this.href + '"></form>');
    var metadataInput = '<input name="_method" value="patch" type="hidden" />';
    metadataInput += '<input name="' + csrfParam + '" value="' + csrfToken + '" type="hidden" />';
    metadataInput += '<input name="current_url" value="' + window.location.toString() + '" type="hidden" />';

    form.hide().append(metadataInput).appendTo('body');
    form.submit();
  });
});
    </script>

  </body>
</html>
